<div class="card">
  <!-- <h4 class="title">New in iPhone</h4> -->
  <ng-content select=".title"></ng-content>
  <p class="summary">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa libero totam
    facilis voluptate laudantium incidunt consectetur iste, laboriosam sed
    repellat hic quibusdam beatae, doloremque veritatis dignissimos id error
    odio quidem.
  </p>
  <!-- <button class="btn btn-more">Show more in iPhone</button> -->
  <ng-content select=".btn-more"></ng-content>
</div>
