.serch-div {
  margin: 10px 0px;
  padding: 10px 20px;
}
input[type="text"] {
  width: 240px;
  height: 30px;

  border: none;
  margin-left: 10px;
}

.changeBackground {
  background-color: #fad7a0;
}
